body{
  margin: 0;
  padding: 135px;
}
h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}
p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 18px;
}
#site-title{
  width: 665px;
}
.site-title-container{
  width: 665px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}
#title-text{
  width: 360px;
  position: relative;
  z-index: 99;
  top: -330px;
}
#byline{
  margin-bottom: 20px;
}
#byline a{
  color: #44BFFE;
}
.videos-container{
  width: 665px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}
#video1{
  width: 380px;
  background: url('./alexa-poster-1.png');
  background-size: 100%;
}
#video2{
  width: 265px;
  background: url('./alexa-poster-2.png');
  background-size: 100%;
}
#video3{
  width: 338px;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-start;
  margin-top: 20px;
  background: url('./alexa-poster-3.png');
  background-size: 100%;
}
#project-description{
  width: 285px;
  align-self: flex-start;
  margin-left: 10px;
  margin-top: 10px;
}
